form {
  width: 100%;
  display: flex;
  justify-content: center ;
}

input {
  width: 75%;
  border-radius: 7px 0 0 7px;
  padding: .25rem;
}

.search-form > a {
  background-color: rgba(84,90,17);
  margin-top: 0.5px;
  border: .5px solid darkgray;
  border-radius: 0 7px 7px 0;
  display: flex;
  cursor: auto;
}

.search-button {
  background-color: transparent;
  color: white;
  border: none;
  height: 100%;
  padding: 0 5px;
  border-radius: 0 7px 7px 0;
}

.search-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

input,
.search-button,
label,
select {
  font-size: 1rem;
}

.search-form:invalid > a > .search-button {
  pointer-events: none;
}

.sort-form > select {
  margin-left: .25rem;
}

@media only screen and (min-width: 768px) {
  input,
  label,
  select{
    font-size: 1.35rem;
  }
}

@media only screen and (min-width: 1050px) {
  .search-form {
    width: 100%;
    max-width: 300px;
    justify-content: flex-end;
  }

  .sort-form {
    display: flex;
    justify-content: flex-end;
  }
}
