body {
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.message {
  width: 75%;
  align-self: center;
  color: white;
  margin: 1% 1% 0 1%;
  padding: 1%;
  /* margin-bottom: 0; */
  text-align: center;
  font-size: 2.4vh;
}

@media only screen and (min-width: 768px) {
  .error-message {
    width: 65%;
  }
}

@media only screen and (min-width: 1050px) {
  .error-message {
    width: 37%;
  }
}