.description {
  font-size: 2.5vh;
}

.description > p {
  margin: 4% 0px;
}

.label {
  font-weight: bold;
}

.movie-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .description {
    font-size: 2vh;
  }
}

@media only screen and (min-width: 1050px) {
  .description {
    position: absolute;
    width: 50%;
    align-self: flex-end;
    padding-left: 1%;
    z-index: 99;
  }

  .movie-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .movie-title {
    font-size: 5vh;
  }
}
