.backdrop-image {
  height: 100%;
  width: 100%;
}

.image-container {
  width: 100%;
}

@media only screen and (min-width: 1050px) {
  .image-container {
    /* margin-right: 5%; */
    /* position: relative; */
    object-fit: cover;
  }
}
